
<ion-view>
  <ion-content>
  <img src="img/t2.jpg">
   <h5 style="text-align: center;"><b>BIENVENIDO</b></h5>
    <h5 style="text-align: center;">Ingresa Usuario y Contraseña</h5>

<div class="list">
  <form ng-submit="entrar(usu)"> 
    <label class="item item-input">
      <span class="input-label">Usuario</span>
      <input  ng-model="usu.username" type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">Contraseña</span>
      <input  ng-model="usu.password" type="password">
    </label>
   <br>
    <div class="row">
     <ion-radio class="col col-50" type="radio" value="Operador" name="Zona" ng-model="usu.tipo">Operador</ion-radio>
     <ion-radio class="col col-50" type="radio" value="Taxista" name="Zona" ng-model="usu.tipo">Taxista</ion-radio>
    </div>  
    <button type="submit" class="button button-block button-positive">
    Ingresar
  </button>
  </form>
</div>



  </ion-content>
</ion-view>
