


<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-list style="padding-bottom:  50px">

       <ion-item href="#/tab/carreras" class="font-left-menu item-icon-right">
          ... <i class="icon ion-home"></i>
        </ion-item>

          <ion-item href="#/tab/dash" class="font-left-menu item-icon-right">
          Inicio <i class="icon ion-home"></i>
        </ion-item>

        <ion-item href="#/tab/carreras" class="font-left-menu item-icon-right">
          Carreras <i class="icon ion-flag"></i>
        </ion-item>
          <ion-item  ng-show="USER.tipo == 'Admin'"  href="#/tab/chats" class="font-left-menu item-icon-right">
          Usuarios <i class="icon ion-person-stalker "></i>
        </ion-item>
          <ion-item  ng-show="USER.tipo == 'Admin'"  href="#/tab/taxis" class="font-left-menu item-icon-right">
          Taxis <i class="icon ion-model-s"></i>
        </ion-item>
          <ion-item  ng-show="USER.tipo == 'Admin'"  href="#/tab/taxistas" class="font-left-menu item-icon-right">
        Taxistas <i class="icon ion-person"></i>
        </ion-item>
          <ion-item  ng-show="USER.tipo == 'Admin'"  href="#/tab/nube" class="font-left-menu item-icon-right">
        Nube <i class="icon ion-cloud"></i>
        </ion-item>
     <br>
        <br>
        <ion-item href="#/menu/about" class="font-left-menu item-icon-right">
          Ajustes <i class="icon ion-chevron-right icon-acessory accessory-size"></i>
        </ion-item>
        <br>
        <ion-item menu-close href="#/login" class="font-left-menu item-icon-right">
          Salir <i class="icon ion-arrow-left-c"></i>
        </ion-item>
      </ion-list>
  </ion-side-menu>

  <ion-side-menu-content>


    <ion-view  cache-view="false"  view-title="Dashboard">
      <ion-content >

      <div class="bar bar-header bar-calm">
        <button ng-click="toggleLeft()" class="button icon ion-navicon"></button>
        <h1 class="title">MENU PRINCIPAL</h1>

      </div>
        <div style="padding-bottom:  50px">
        <h2>Welcome to Ionic</h2>


        <p>

        Bienvenido. Aquí debería salir el mapa en futuras versiones.
        </p>

        <div ng-show="USER.tipo != 'Admin'">
          <b>Latitud:</b> {{position.coords.latitude}}
        </div>

        <div ng-show="USER.tipo != 'Admin'">
          <b>Longuitud:</b> {{position.coords.longitude}}
        </div>




         <!-- Desactivamos el mapa porque nos cobran con tantas llamadas
        <div id="map"> gyhjg yf</div>
        -->

      </div>
      </ion-content>
    </ion-view>


  </ion-side-menu-content>

  <!-- Right menu -->


</ion-side-menus>
