


<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-list>

       <ion-item href="#/tab/carreras" class="font-left-menu item-icon-right">
          ... <i class="icon ion-chevron-right icon-acessory accessory-size"></i>
        </ion-item>

          <ion-item href="#/tab/dash" class="font-left-menu item-icon-right">
          Inicio <i class="icon ion-chevron-right icon-acessory accessory-size"></i>
        </ion-item>

        <ion-item href="#/tab/carreras" class="font-left-menu item-icon-right">
          Carreras <i class="icon ion-chevron-right icon-acessory accessory-size"></i>
        </ion-item>
          <ion-item href="#/tab/chats" class="font-left-menu item-icon-right">
          Usuarios <i class="icon ion-chevron-right icon-acessory accessory-size"></i>
        </ion-item>
          <ion-item href="#/tab/taxis" class="font-left-menu item-icon-right">
          Taxis <i class="icon ion-chevron-right icon-acessory accessory-size"></i>
        </ion-item>
          <ion-item href="#/tab/taxistas" class="font-left-menu item-icon-right">
          Taxistas <i class="icon ion-chevron-right icon-acessory accessory-size"></i>
        </ion-item>
        <br>
  
        <ion-item href="#/menu/about" class="font-left-menu item-icon-right">
          About <i class="icon ion-chevron-right icon-acessory accessory-size"></i>
        </ion-item>
        <br>
        <ion-item menu-close href="#/logout">
          Exit
        </ion-item>
      </ion-list>
  </ion-side-menu>

  <ion-side-menu-content>


    <ion-view view-title="Dashboard">
      <ion-content class="padding">
        <h2>Welcome to Ionic</h2>

        <button ng-click="toggleLeft()">Hola</button>
        <p>

        This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
        </p>
        <p>
          <b>Psst!</b> - Try <a href="http://view.ionic.io/">Ionic View</a> to easily share and test your app with clients and co-workers.
        </p>

        <div id="map"> gyhjg yf</div>

      </ion-content>
    </ion-view>


  </ion-side-menu-content>

  <!-- Right menu -->


</ion-side-menus>
