<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->



<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Inicio" icon-off="icon ion-home" icon-on="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab ng-if="USER.tipo == 'Admin'" title="Usuarios" icon-off="ion-person-stalker" icon-on="ion-android-contact" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>

  </ion-tab>
    <!-- Chats Tab -->
  <ion-tab ng-if="USER.tipo == 'Admin'" title="Taxis" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/taxis">
    <ion-nav-view name="tab-taxis"></ion-nav-view>
  </ion-tab>
    <!-- Chats Tab -->
  <ion-tab ng-if="USER.tipo == 'Admin'" title="Taxistas" icon-off="ion-person" icon-on="ion-person-stalker" href="#/tab/taxistas">
    <ion-nav-view name="tab-taxistas"></ion-nav-view>
  </ion-tab>
    <!-- Chats Tab -->
  <ion-tab title="Carreras" icon-off="ion-flag" icon-on="ion-flag" href="#/tab/carreras">
    <ion-nav-view name="tab-carreras"></ion-nav-view>
  </ion-tab>
   <ion-tab ng-if="USER.tipo == 'Admin'" title="Nube" icon-off="ion-cloud" icon-on="ion-cloud" href="#/tab/nube">
    <ion-nav-view name="tab-nube"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Ajustes" icon-off="ion-steam" icon-on="ion-steam" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
