/* Empty. Add your own CSS if you like */
#map{
	height: 400px;
	
}

.fondo-seleccionado{
  background-color: #4682B4;  
}
.manito{
  cursor: pointer;
}
.btn-estado:disabled {
    background: #b7b7b7;
}
.ui-select-container{
    border: 1px solid #ccc;
}
.sin-negrillas label{
  font-weight: normal;
}

